:root {
  --orange: #FF6C2D;
  --army: rgba(20, 83, 100, 1);

  --green:#2FE900;;
  --facebook: #1877F2;
  --frame-background: #F6F6F6;
}
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', "Roboto", 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logotexta{
  background-color: #FF6C2D;
  color: #ffff;
  /* width: 320px; */
  font-size: 22px;
  letter-spacing: .3rem;
  display: grid;
  place-items: center;
}

.logoContainerPass{
  display: grid;
  place-content: center;
}

.logoContainerPass label{
  display: flex;
  letter-spacing: .6rem;
  font-size: 50px;
  /* margin-bottom: -15px; */
  color: #AEAEAE;

}

.resetTab{
  width: 100%;
  display: grid;
place-content: center;
}

.infoPass{
  display: grid;
  margin-top: 80%;

}
.not{
  display: grid;
  place-content: center;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 0.2em;
}
.info input{
  font-size: 19px;
  margin-bottom: 7px;
  color:rgb(11, 11, 11);
  border-top:none;
  border-right: none;
  border-left:none ;
  padding-left: 20px;
  height: 50px;
}
.info{
  display: grid;
  padding-top: 43%;
}

.note{
  margin-top:28px;
  width: 334px;
  font-family: Roboto;
  justify-items: center;
}

.name{
  margin-top: 30px;
  font-size: 20px
}



.resetbtn2{
  background-color: var(--orange);
  height: 45px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  font-size: 24px;
}

.gear{
    color:#FF6C2D;
    width: 550px;
    height: 600px;
    position: absolute;
    top: -25.36%;
    left:-233px;

}

.Design{
  width: 23px;
  height: 18px;
  position: relative;
  margin-top: 23px;
  margin-left: -4px;
  margin-right: 4px;
  border:6px solid #FF6C2D;
  border-right: none;
  border-left: none;
  border-top-left-radius:3px ;  
  border-top-right-radius:3px;
  border-bottom-left-radius:3px ;
  border-bottom-right-radius:3px ;

}

.Design::after{
  content:"";
  position: absolute;
  /* margin-top: 2px; */
  height: 5px;
  background-color: #FF6C2D;
  width:99.6%;
  top:33%;
  border-radius: 40px;
}


@media (max-width:420px) {

}