 @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap'); 
@import url("https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Asettings%3A");
 .signUp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  .signupLogo{
    width: 23px;
    height: 18px;
    position: relative;
    margin-top: 22px;
    border:5px solid #FF6C2D;
    border-right: none;
    border-left: none;
    border-top-left-radius:3px ;  
    border-top-right-radius:3px;
    border-bottom-left-radius:3px ;
    border-bottom-right-radius:3px ;
    margin-left: -15px;

  }
  
  .signupLogo::after{
    content:"";
    position: absolute;
    height: 4.5px;
    background-color: #FF6C2D;
    width:99%;
    top:33%;
    border-radius: 40px;
  }


  .loginDetails{
    margin-top: 64px;
  }
  .logoSign{
    position:absolute;
    width: 450px;
    top: 45vh;
    margin-left: 12vw;
    display: grid;
    place-items: center;
    place-content: center;
}

    .logoname{
      letter-spacing: 1.5rem;
      font-size: 50px;
      color: aliceblue;
      margin-left: 20px;
      font-weight: 100;
    }



  .signUp_Details {
    text-align: left;
    padding: 10%;
  }
.labels{
  display: flex;
  font-size: 27px;
  margin-bottom: 7px;
  letter-spacing: normal;
  color:rgb(11, 11, 11);
  font-size: 18px;
}
 
.signUpDetails input{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 30px;
    margin-bottom: 22px;
    height: 50px;
    margin-top: 10px;
    width: 92%;
  }
  .appName{
    position: absolute;
    margin-top: 25%;
    margin-left: 15%;
    background-color: var(--frame-background);
    line-height: 25px; 
    width: 300px;
    text-align: center;
 }
  .signUp_Details p{
    font-size: 16px;
    font-weight: 400;
  }
  img{
    width: 50vw;
    height: 100vh;
  }
  .logo{
    opacity: 1; 
    transition: none; 
    text-decoration: underline; 
  }

  .sign_up{
    width: 92%;
    margin-left: 10px;
    margin-bottom: 54px;
  }
.signUpDetails input{
font-size:17px;
/* height: 30px; */
}
.title{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family:'Figtree';
    letter-spacing: 20px;
    color: rgba(174, 174, 174, 1)
}
.tag{
    font-size: 18px;
    font-weight: 300;
    font-family:'Figtree';
    color: white;
    height: 22;
    letter-spacing: 10px;
    width: 370px;
    text-align: center;
    background-color: var(--orange);
}
.container{
    margin-right:20px;
}
.info{
    margin: auto;
    width: 400px;
}
.resetTab{
    width: 100vw;
    height: 100vh;
    display: grid;
}
.logoContainer{
    margin-left: 3%;
}
.logotext{
  color: black;
  width: 425px;
  font-size: 30px;
  letter-spacing: .4rem;
  background-color: var(--frame-background);
}
.note{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.info input{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 30px;
    margin-bottom: 32px;
    margin-top: 20px;
    font-size: 16px;
    width: 92%;
  }

.gear{
    border: 2px solid red;
    color:#FF6C2D;
    width: 550px;
    height: 600px;
    position: absolute;
    top: -25.36%;
    left:-20.61%;

}
